---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-fold-init-type,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-enum-flexible-array,
  -bugprone-suspicious-memset-procedure,
  -bugprone-suspicious-stringview-data-usage,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-missing-std-forward,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-rvalue-reference-param-not-moved,
  -cppcoreguidelines-slicing,
  -modernize-use-cascading-delete,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-trailing-result-type,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-comparisons,
  -readability-avoid-const-params-in-macros,
  -readability-convert-member-functions-to-static,
  -readability-else-return,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-qualified-auto,
  -readability-redundant-smartptr-base,
  -readability-suspicious-call-argument,
  -performance-no-int-to-pointer-cast,
  -performance-enum-size,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-math-missing-parentheses,
  -readability-uppercase-literal-suffix,
  -readability-use-concise-preprocessor-directives,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
WarningsAsErrors: ''
CheckOptions:
  - key: cppcoreguidelines-explicit-virtual-functions.IgnoreExplicitDestructors
    value: true
  - key: modernize-use-auto.MinTypingLen
    value: 3
FormatStyle: file
HeaderFilterRegex: 'syclfft/.*'
User: ''
...
